html {
    background-image: url(../images/login-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
}

h1 {
    justify-self: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: #e51f36;
    font-weight: 300;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

input {
    width: 30rem;
    height: 5rem;
    border: solid 0.25rem #e51f36;
    border-radius: 1rem;
    text-indent: 1rem;
    margin: 1rem;
}

button {
    width: 10rem;
    height: 3.3rem;
    border-radius: 1rem;
    border: none;
    background-color: #e51f36;
    color: white;
    margin: 1rem;
}

button:hover {
    opacity: 0.75;
    cursor: pointer;
}