html {
    background-color: silver;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, 
h2 {
    color: #e51f36;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}