* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", 'Times New Roman', Times, serif;
    font-weight: 300;
}

html {
    font-size: 16px;
    background-color: silver;
}

header{
    display:flex;
    position: sticky;
    top: 0;
    align-content:center;
    align-items: center;
    justify-content: space-between;
    background-color: silver;
    width: 100%;
    min-width: 1300px;
    height: 120px;
    border-bottom: 3px solid #e51f36;
}

header img {
    height: 100px;
    justify-self:left;
    margin: 10px;
}

header input {
    width: 900px;
    height: 30px;
}

header button {
    font-size: 20px;
    text-align: center;
}

#searchbar {
    border-radius: 100px;
    border: solid 4px #e51f36;
    padding: 3px;
    background-color: lightgray;
    color:#e51f36;
}

#searchbar::placeholder {
    color: #e51f36;
}

#searchbutton {
    border: none;
    background: none;
    color: #e51f36;
}

#searchbutton:hover {
    opacity: 0.75;
}

.epicbuttons {
    font-size: 50px;
    background:none;
    border:none;
    color:#e51f36;
    margin: 0 5px;
}

.epicbuttons:hover {
    opacity: 0.75;
}

#products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    color: #e51f36;
    background-color: rgb(126, 126, 126);
    border: solid 0.2rem #e51f36;
    border-radius: 1rem;
}

img {
    width: 10rem;
    margin: 0.25rem;
}