html {
    background-image: url(../images/elegant-abstract-silver-luxury-wave-background-metallic-design-wallpaper-suitable-for-templates-banners-covers-sales-business-events-awards-websites-pages-and-more-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
}

h1 {
    justify-self: center;
    font-size: 3rem;
}

form {
    width: 100%;
    justify-items: center;
    align-items: center;
}

div {
    margin: 1rem;
}

input {
    width: 30rem;
    height: 5rem;
    border: solid 0.25rem #e51f36;
    border-radius: 1rem;
    text-indent: 1rem
}

button {
    width: 10rem;
    height: 3.3rem;
    border-radius: 1rem;
    border: none;
    background-color: #e51f36;
    color: white;
}

button:hover {
    opacity: 0.75;
    cursor: pointer;
}